<!DOCTYPE html>
<html>
<head>
  <title>Contact Page</title>
  <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="css/pagesStyle.css">
</head>
<body>
  <h1>Contact</h1>
  <table>
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Contact</td>
        <td>1997</td>
      </tr>
       <tr>
        <td>Star Trek First Contact</td>
        <td>1996</td>
      </tr>  
      <tr>
        <td>?? Contact</td>
        <td>??</td>
      </tr>    
    </tbody>
  </table>

  <nav>
    <a href='/'>Go home</a>
  </nav>
  <script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>  
  <script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</body>
</html>
