<!DOCTYPE html>
<html>
<head>
<title>Contact Page</title>
  <div th:replace="fragments/styleLinks :: styleLinks" ></div>
</head>
<body>
  <div th:replace="fragments/navbar :: navbar"></div>
  <div class="container">  
    <h1>Contact</h1>
    <table>
      <thead>
        <tr>
          <th>Movie Title</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Contact</td>
          <td>1997</td>
        </tr>
        <tr>
          <td>Star Trek First Contact</td>
          <td>1996</td>
        </tr>
        <tr>
          <td>?? Contact</td>
          <td>??</td>
        </tr>
      </tbody>
    </table>
    <nav>
      <a href='/'>Go home</a>
    </nav>
    <div th:replace="fragments/scriptLinks :: scriptLinks"></div>
  </div>
</body>
</html>
